//add option error
.add-option-error{
  color: $off-white;
  font-style: italic;
  margin: $m-size 0;
  padding: 0 $m-size;
}

//add option form
.add-option{
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

//input
.add-option__input{
  background-color: $dark-blue;
  border: none;
  border-bottom: 0.3rem solid darken( $dark-blue, 10%);
  color: $off-white;
  flex-grow: 1;
  margin: 0 0 $s-size 0;
  //margin-right: $s-size;
  padding: $s-size;
}

@media (min-width: $desktop-breakpoint) {
  .add-option{
    flex-direction: row;
  }

  .add-option__input{
    margin:0 $s-size 0 0;
  }
}