//Big button
.big-button{
  background-color: $purple;
  border: none;
  border-bottom: .6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $xl-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled{
  opacity: 0.5;
}

//Button
.button{
  background-color: $purple;
  border: none;
  border-bottom: .3rem solid darken($purple, 10%);
  color: white;
  font-weight: 500;
  padding:$s-size;
}

.button--link{
  background-color: rgba(0,0,0,0);
  border: none;
  color: $off-white;
  padding: 0;
}