.ReactModalPortal > div{
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay{
  display: flex;
  transition: opacity 200ms ease-in-out;
  justify-content: center;
  align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close{
  opacity: 0;
}

.modal{
  background-color: $light-blue;
  color: white;
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;
}

.modal__title{
  margin: 0;
  margin-bottom: $m-size;
}

.modal__body{
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: $l-size;
  word-break: break-all;
}