//widget
.widget{
  background-color: $light-blue;
  margin-bottom: $xl-size;
}


// widget header
.widget--header{
  background-color: $blue;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.widget-header--title{
  margin:0;
}

.widget--message{
  align-content: center;
  color:$off-white;
  border-bottom: 1px solid lighten($light-blue, 10%);
  margin: 0;
  padding: $l-size;
  text-align: center;
}